.wrapper {
    position: relative;
}
.content-nav {
    background-color: #9999;
    width: 310vh;
    height: 38.59px;
    position: relative;
    top: -13px;
    left: -5px;
}

.content-nav__name {
    font-size: 2rem;
}

// GURANTEE
.wrapper-guarantee {
    margin-top: 30px;
    width: 100%;
    border: 1px solid var(--color-hover);
    border-radius: 7px;
    padding: 16px 16px;
}

.guarantee-header {
    text-align: center;
    border-bottom: 1px solid #000;
    & p {
        margin-top: 10px;
        font-size: 2rem;
        color: var(--color-hover);
        font-weight: 500;
    }
    & .icon-shield {
        color: var(--color-hover);
        font-size: 5.3rem;
    }
}

.guarantee-body {
    padding-top: 5px;
    text-align: left;
    & p {
        line-height: 25px;
        font-size: 1.3rem;
        margin: 0;
        font-weight: 400;
        color: #000;
        padding-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    .wrapper {
        margin-top: 60px;
    }
}

@media (min-width: 740px) and (max-width: 991px) {
    .wrapper {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 740px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}
