@import 'normalize.css';
:root {
    --color: #3f3f3f;
    --color-main: #3f3f3f;
    --color-hover: #d70018;
    --color-red: #d70018;
    --bgbar: #d70018;
    --bgnav: #d70018;
    --ftitle: 'SFDisplay', sans-serif;
    --freset: 'SFDisplay', sans-serif;
    --ftitle-spacing: 0.3px;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;

    // default

    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 1.6rem !important;
    color: RGB(0, 8, 28) !important;
    overscroll-behavior-y: none;
    position: relative !important;
    overflow-x: hidden !important;
    width: 100% !important;
    height: 100%;
    background-color: #fff !important;
    transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
}

// embeded
@font-face {
    font-family: SF-Pro-Display;
    src: url('/assets/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-family: 700;
}
@font-face {
    font-family: SF-Pro-Display;
    src: url('/assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-family: 700;
}
@font-face {
    font-family: SF-Pro-Display;
    src: url('/assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-family: 700;
}
@font-face {
    font-family: SF-Pro-Display;
    src: url('/assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-family: 700;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

//
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 12px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c1c1c1;
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
    border: 1px #ddd solid;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

li {
    text-decoration: none;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.f-title {
    font-family: var(--ftitle);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header-item-padding {
    padding: 1px 16px;
    margin: 0;
    list-style-type: none;
}

ul {
    text-decoration: none;
    outline: none;
    list-style: none;
    list-style-type: none;
}
li {
    text-decoration: none;
    outline: none;
    list-style: none;
    list-style-type: none;
}

.proitem {
    margin-bottom: 0px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

// ERROR MESSAGE
.error-message {
    margin: 0 !important;
    padding: 0 10px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 4px !important;
    color: var(--color-hover);
}

// RESPONSIVE

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1380px !important;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .container {
        max-width: 95% !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}
@media screen and (max-width: 991px) {
    .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

.admin.container-xxl {
    max-width: 1100px !important;
}

// ModalLoading
.spin {
    &.ant-spin .ant-spin-dot-item {
        background-color: var(--color-hover);
    }
}

.modal-custom {
    margin-top: -50px;
    min-width: 1100px;
    max-height: 800px;
    overflow: hidden;
    overflow-y: auto;
}

.text-form-custom {
    & input,
    textarea {
        color: #000 !important;
    }
}

.custom-wrap-input {
    margin-top: 30px;
    margin-left: 10px;
}

.button-delete {
    position: absolute;
    top: 7px;
    left: -45px;
    color: #ff4d4f;
    cursor: pointer;
    font-size: 1.8rem;
}

.disabled-button {
    cursor: not-allowed !important;
    pointer-events: none; /* Không cho phép sự kiện click vào button */
    opacity: 0.5; /* Làm mờ button */
}
