.wrapper {
    margin-bottom: 15px;
    & a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        & .icon-prev {
            font-size: 2.2rem;
            color: #777;
            cursor: pointer;
        }
        & h3 {
            padding-top: 5px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

@media (max-width: 765px) {
    .wrapper {
        margin-bottom: 15px;
        // & a {
        //     width: 53%;
        // }
    }
}
