.wrapper {
    padding-bottom: 20px;
    max-width: 720px;
    margin: 2.5rem auto 37px;
}

.title {
    font-size: 1.6rem;
    margin: 10px 0 20px 0;
}
.input-list {
    padding: 0;
    margin-bottom: 20px;
    & .input-item {
        width: 100%;
        margin-top: 15px;
        & input {
            width: 100%;
            border: 1px solid var(--bs-border-color);
            padding: 8px 10px;
            border-radius: 5px;
            font-size: 1.6rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            &:focus {
                color: var(--bs-body-color);
                background-color: var(--bs-body-bg);
                border-color: #86b7fe;
                outline: 0;
                box-shadow: 0 0 0 0.5rem rgba(13, 110, 253, 0.25);
            }
        }
    }
}

.content {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
}

//
.choose-check-box__list {
    display: flex;
    align-items: center;
}

.form-check:nth-child(2) {
    margin-left: 20px;
}

.form-check-input {
}

input[type='radio'] {
    font-size: 1.5rem;
}

.form-check-label {
    font-size: 1.5rem !important;
    margin-left: 3px;
}

input:checked ~ label {
    color: #0d6efd;
}

.at-store {
    margin-top: 30px;
    position: relative;
}

.form-select {
    width: 100%;
    height: 58px;
    border-radius: 10px;
    border: 1px solid var(--bs-border-color);
    padding: 20px 10px 5px 5px;
    font-size: 1.4rem;
}

.store-where {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 1.1rem;
    color: #6f7173;
    width: 100%;
}

.input-description {
    & input {
        white-space: nowrap;
        font-size: 1.6rem;
        padding-left: 10px;
        padding-bottom: 50px;
        width: 100%;
        height: 95px;
        overflow: hidden;
        border-radius: 7px;
        border: 1px solid var(--bs-border-color);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.5rem rgba(13, 110, 253, 0.25);
        }
    }
}

.call-other-people {
    display: flex;
    align-items: center;
    & input {
        width: 15px;
        height: 50px;
    }
    & span {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 5px;
    }
}
//
.order-delivery {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.order-delivery-select {
    width: 100%;
    height: 48px;
    border-radius: 7px;
    font-size: 1.4rem;
    padding-left: 10px !important;
    font-size: 1.5rem !important;
}

.order-delivery-select:nth-child(2) {
    margin-left: 20px;
}

.order-delivery-adress {
    position: relative;
    & span {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #6f7173;
        font-size: 1.1rem;
        font-weight: 500;
    }
    & input {
        width: 100%;
        height: 58px;
        border-radius: 10px;
        border: 1px solid var(--bs-border-color);
        font-size: 1.4rem;
        font-weight: 400;
        padding: 10px 0px 0px 10px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.5rem rgba(13, 110, 253, 0.25);
        }
    }
}

.call-other-people__list {
    display: flex;
    & .call-other-people__item {
        width: 50%;
        & input {
            width: 100%;
            padding: 10px 10px;
            border: 1px solid var(--bs-border-color);
            border-radius: 7px;
            font-size: 1.4rem;
        }
    }
    & .call-other-people__item:nth-child(2) {
        margin-left: 10px;
    }
    & .call-other-people__item:nth-child(1) {
        margin-right: 10px;
    }
}
.btn-order {
    margin-top: 15px;
    background-color: var(--color-hover);
    padding: 5px 0px;
    border-radius: 10px;
    & button {
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        padding-right: 10px;
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 765px) {
    .order-delivery {
        display: block;
        & .order-delivery-select:nth-child(2) {
            margin: 0;
        }
    }
    .call-other-people__list {
        display: block;
        & .call-other-people__item {
            width: 100%;
        }
        & .call-other-people__item:nth-child(2) {
            margin: 10px 0 0 0;
        }
    }
}

// ERROR MESSAGE
.error-message {
    margin: 0 !important;
    padding: 0 10px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 4px !important;
    color: var(--color-hover);
}
