.button-edit {
    position: absolute;
    top: 7px;
    left: -70px;
}

.button-delete {
    position: absolute;
    top: 7px;
    left: -70px;
}

.image-inner-html {
    width: 100%;
    max-height: 350px;
}
