.wrapper {
    border-top: 1px solid #e3e3e4;
}
.more-btn {
    padding: 8px;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.lable {
    font-size: 1.4rem;
    padding: 8px;
    color: #a1a1a1;
    font-weight: 500;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}
.info {
    padding-left: 10px;
}

.nickname {
    font-size: 1.6rem;
}

.nickname-strong {
    font-weight: 600;
}

.icon-check {
    padding-left: 5px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.2rem;
    line-height: 18px;
}
