//
.product-frequently-box {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding-left: 1px;
    margin-top: 0;
    border-bottom: none;
}

.product-frequently-item {
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 10px 10px 80px 10px;
    background-color: #fff;
    margin-bottom: 0px;
    min-height: 100%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    box-shadow: 0 0.125rem 0.35rem rgba(var(--bs-body-color-rgb), 0.075);
    overflow: hidden;
    & .box {
        display: block;
    }
}

.product-frequently-img {
    position: relative;
    padding: 10px 10px 10px 10px;
    & .frequently-tag-percent {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: var(--color-red);
        background-size: contain;
        width: auto;
        height: auto;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #fff;
        padding: 0.25rem 0.35rem;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
    }

    & .img-authen {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        display: block;
        padding-left: 20px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.product-item {
    width: 227.53px;
    margin-right: 20px;
}

.product-list {
    display: flex;
    align-items: center;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 18813px;
}

.product-container {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.product-content {
    display: block;
}

.product-title {
    padding-top: 0;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.frequently-img {
    position: relative;
}

// PRODUCT-INFO

.product-frequently-info {
}

.product-frequently-name {
    font-size: 1.5rem;
}

.price-box {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    p {
        font-weight: 500;
        color: var(--color-hover);
    }
    span {
        text-decoration: line-through;
    }
}

.product-frequently-rating {
}

.icon-star-frequently {
    font-size: 1.4rem;
    margin-right: 3px;
}

// ICON
.nav-frequently {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    .nav-icon-list {
        font-size: 2.6rem;
        color: #a1a1a1;
        & .nav-icon-left {
            margin-right: 10px;
        }
        & .nav-icon-right {
        }
    }
}
