.button-edit {
    position: absolute;
    top: 7px;
    left: -45px;
}

.button-delete {
    position: absolute;
    top: 7px;
    left: -65px;
}

.image-inner-html {
    width: 100%;
    max-height: 350px;
}

.container-images {
    display: flex;
    flex-wrap: wrap;
}
.show-input-image {
    align-items: center;
}
