.image-color-available {
    display: flex;
}

.product-descripion-specifications {
    padding: 0;
    border-radius: 5px;
    border: 1px solid var(--color-hover);
    padding: 16px 0px 0 0;
    overflow: hidden;
    width: 689px;
}

.specifications-content {
    max-width: 100%;
    max-height: 254px;
    overflow-y: auto;
    overflow-x: hidden;
}

.specifications-title {
    padding: 0 15px;
    padding-bottom: 20px;
}

.specifications-content {
    position: relative;
    font-size: 1.3rem;

    & table {
        border-collapse: collapse !important;
        border: none;
        width: 100% !important;
        max-width: 100%;
        margin-bottom: 20px;
        line-height: 22px;
        text-align: left;
    }
    & tbody {
        max-width: 100% !important;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    & tr {
        background-color: #f2f2f2;
    }
    & th {
        width: 116px;
        max-width: 127px;
        padding: 12px 0 12px 15px;
        line-height: 1.42857143;
        vertical-align: middle;
    }

    & td {
        min-width: 30px;
        padding: 12px 0 12px 35px;
        font-weight: 400;
    }
    & p {
        margin: 0;
        padding: 0;
    }
}

.navigation {
    max-height: 38px;
    padding: 0 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    background: #f5f5f5;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
}
.markdown {
    & p {
        font-weight: 400;
    }
    & h3 {
        font-size: 16px;
    }
    & a {
        font-weight: 600;
        color: var(--color-hover);
    }
    & strong {
        color: var(--color-hover);
        font-weight: 500 !important;
    }
}

.wrapper-images-preview {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.upload-wrapper {
    position: relative;
    width: 110px;
    height: 110px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
    &:hover {
        border: 1px dashed #5085ff;
    }
}

.upload-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    & input {
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
    }
}
