.wrapper {
    padding: 0 15%;
    margin-bottom: 30px;
}

.header {
    & .title {
        font-size: 3rem;
        font-weight: 600;
    }
}

.info {
    display: flex;
    margin-top: 10px;
    & .info-author {
        color: var(--color-hover);
        font-size: 1.4rem;
        font-weight: 400;
        margin-right: 15px;
        & .icon-info {
        }
        & .info-name {
            margin-left: 10px;
        }
    }

    & .info-item-time {
        border-left: 1px solid #ddd;
        padding-left: 15px;
        font-size: 1.4rem;
        font-weight: 300;
        & .icon-info {
            color: var(--color-hover);
        }
        & .info-name {
            margin-left: 10px;
        }
    }
}

.body {
    margin-top: 20px;

    & p {
        font-size: 1.5rem;
        line-height: 25px;
    }
    & img {
        width: 100%;
    }

    & strong {
        font-size: 1.6rem;
        font-weight: 600;
    }
    & h3 {
        font-size: 1.8rem;
        font-weight: 700;
    }
}

@media (min-width: 995px) and (max-width: 1200px) {
    .wrapper {
        padding: 0 9%;
    }
    .news-latest {
        & img {
            width: 100% !important;
        }
        & h3 {
            font-size: 1.8rem;
        }
    }
}

@media (min-width: 766px) and (max-width: 995px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 766px) {
    .wrapper {
        margin-top: 20px;
        padding: 0 5px;
    }
}

@media (min-width: 995px) and (max-width: 1500px) {
    .news-latest {
        margin-top: 40px;
        & .title-recent-review {
            font-size: 2rem;
        }

        & img {
            width: 260px !important;
        }
        & h3 {
            font-size: 1.8rem;
        }
    }
}

.news-latest {
    margin-top: 40px;
}
