.title {
    font-size: 1.6rem;
    font-weight: 600;
}

.news-list {
    padding: 0;
}

.right {
    padding-left: 30px !important;
}

.news-item {
    margin-top: 24px;
    padding: 20px;
    background: rgba(253, 253, 255);
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0.2rem 1.25rem rgba(var(--bs-body-color-rgb), 0.075);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        border: 1px solid var(--color-hover);
    }
}

.news-item:hover .news-name {
    color: var(--color-hover);
    text-decoration: none;
}

.news-category {
    margin: 12px 0 23px 0;
    .news-category__types {
        background-color: #f1f0f1;
        border-radius: 20px;
        padding: 4px 8px;
        & .icon-type {
            color: var(--color-hover);
        }
        & span {
            margin-left: 5px;

            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .news-category__times {
        background-color: #f1f0f1;
        margin-left: 10px;
        border-radius: 20px;

        padding: 4px 8px;

        & .icon-clock {
            color: var(--color-hover);
        }
        & span {
            margin-left: 7px;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}

.news-description {
    & p {
        font-size: 1.54rem;
        text-align: justify;
    }
}

// INFO
.news-info {
    padding-right: 40px;
}

.news-name {
    font-size: 2.1rem;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

// IMAGE
.news-image {
    & img {
        width: 96.6%;
    }
}

//SOCIAL ICON

.social-item-facebook,
.social-item-youtube,
.social-item-instagram {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}

.social-item-facebook {
    background-color: #5d72a4;
}

.social-item-youtube {
    background-color: #ff0000;
}

.social-item-instagram {
    background-color: #262626;
}

.icon-social {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.2rem;
    color: #fff;
}

@media (min-width: 765px) and (max-width: 995px) {
    .wrapper {
        padding: 0 !important;
    }
    .title:first-child {
        margin-top: 20px;
        padding-left: 15px;
        font-size: 2rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 160px;
            width: 100%;
            height: 3px;
            background-color: var(--color-hover);
        }
    }
    .title-right {
        margin-top: 20px;
    }
}

@media (max-width: 765px) {
    .wrapper {
        padding: 0 !important;
    }

    .title-right {
        color: var(--color-hover);
        margin-top: 20px;
    }

    .news-description {
        & p {
            font-size: 130%;
            height: 55.5px;
            text-align: justify;
            /* Áp dụng line-clamp để hạn chế số dòng */
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Số dòng tối đa */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .news-info {
        padding-right: 5px;
    }
    .news-name {
        font-size: 1.6rem;
    }
    .title:first-child {
        margin-top: 20px;
        padding-left: 15px;
        font-size: 2rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 160px;
            width: 100%;
            height: 3px;
            background-color: var(--color-hover);
        }
    }
    .title-right {
        margin-top: 20px;
    }

    .btn-loadmore {
        margin-top: 20px;
        & button {
            padding: 4px 70px !important;
            font-size: 1.5rem !important;
        }
    }
}

.btn-loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    & button {
        padding: 7px 70px;
        background-color: #fff;
        border: 1px solid var(--color-hover);
        text-align: center;
        border-radius: 5px;
        color: #000;
        font-size: 1.6rem;
        transition: all 0.25s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        &:hover {
            background-color: var(--color-hover);
            color: #fff;
        }
    }
}
