.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-right: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon-right {
    padding-left: 8px;
    text-align: center;
}

.icon-left {
    padding-right: 9px;
    text-align: center;
}
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rbg(0 0 0 /6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.roundedText {
    color: var(--primary);
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0.06), rgba(0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.menuFix {
    margin-top: -6px;
    text-align: center;
    width: 103.5%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 6px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: #999;
    }
}

.borderTop {
    border-top: solid 2px #333;
}
