.news-box {
    padding: 0 8px;
}

.news-title {
    font-size: 2rem;
    color: var(--color-hover);
    padding: 15px 0;
}

.news-content {
    display: flex;
    flex-wrap: wrap;
}

.news-item {
    display: flex;
    padding-right: 16px;
    width: 33%;
    padding-bottom: 50px;
    position: relative;
    &:nth-child(4):after {
        content: '';
        position: absolute;
        top: -26px;
        left: 0;
        width: 95%;
        height: 1px;
        background-color: #ccc;
    }
    &:nth-child(5):after {
        content: '';
        position: absolute;
        top: -26px;
        left: 0;
        width: 95%;
        height: 1px;
        background-color: #ccc;
    }
    &:nth-child(6):after {
        content: '';
        position: absolute;
        top: -26px;
        left: 0;
        width: 95%;
        height: 1px;
        background-color: #ccc;
    }
}

.img-box {
    width: 150px;
    overflow: hidden;
    margin: 0;
    padding-right: 0px;
    background-color: #fff;
    flex: 0 0 auto;
    border-radius: 7px;
}

.img-news {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    &:hover {
        transform: scale(1.06);
    }
}

.news-info {
    padding-left: 10px;
    & p {
        font-size: 1.4rem;
        font-weight: 500;
        &:hover {
            color: var(--color-hover);
        }
    }
}

@media (min-width: 975px) and (max-width: 1200px) {
    .news-item:nth-child(5) {
        display: none;
    }
    .news-item:nth-child(6) {
        display: none;
    }

    .news-item {
        display: block;
        width: 25%;
        padding: 0;
        padding: 0 8px;
    }
    // IMG
    .img-box {
        width: 100%;
    }
    // Text
    .news-info {
        margin-top: 10px;
        padding: 0;
        & p {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

@media (min-width: 765px) and (max-width: 975px) {
    .news-item:nth-child(4) {
        display: none;
    }
    .news-item:nth-child(5) {
        display: none;
    }
    .news-item:nth-child(6) {
        display: none;
    }
    .news-list {
        margin-bottom: 100px;
    }

    .news-item {
        display: block;
        width: 33%;
        padding: 0;
        padding: 0 10px;
    }
    // IMG
    .img-box {
        width: 100%;
    }
    // Text
    .news-info {
        margin-top: 10px;
        padding: 0;
        & p {
            text-align: start;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 765px) {
    .news-item {
        display: block;
        width: 100%;
        padding: 0 10px 50px 10px;
    }
    .img-news {
        width: 100%;
    }
    .img-box {
        width: 100%;
    }
    .news-list {
        margin-bottom: 100px;
    }

    .news-info {
        margin-top: 10px;
        padding: 0;
        & p {
            text-align: start;
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
}
