//
.wrapper {
    margin-top: 60px;
    animation: scaleIn 0.5s ease-in-out;
}
.content {
    margin: 6.5rem auto 150px;
    max-width: 520px;
    background-color: #fff;
    width: 490px;
    padding: 22px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.icon-block {
    font-size: 7rem;
    color: var(--color-hover);
}
.err-title {
    color: var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.err-warning-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.err-redirect {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    & span {
        margin-left: 5px;
        color: var(--bs-blue);
        cursor: pointer;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
