.wrapper {
    padding: 60px 10px 60px 10px;
}

.title {
    color: var(--color-hover);
    font-size: 2.8rem;
    margin-bottom: 20px;
}

//
.map-item-right {
    padding-left: 20px;
    overflow: hidden;
}

.map-select {
    width: 100%;

    & .select-city {
        background-color: #f6f6f6;
        height: 40px;
        border-radius: 7px;
        font-size: 1.3rem;
    }

    & .select-district {
        background-color: #f6f6f6;
        height: 40px;
        border-radius: 7px;
        font-size: 1.3rem;
        margin-left: 10px;
    }
}

.map-list {
    padding: 0;
    margin-top: 20px;
    height: 390px;
    overflow: hidden;
    overflow-y: auto;
    & .map-item {
        padding: 13px 10px;
        background-color: #f6f6f6;
        margin-top: 10px;
        border-radius: 7px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        & .map-icon {
            margin-right: 3px;
            font-size: 2rem;
            color: var(--color-hover);
        }
        & span {
        }
        & .time {
            font-size: 1.3rem !important;
            font-weight: 400;
            color: #717171;
            & .clock-icon {
                margin-right: 5px;
            }
        }
    }
}
.map-list::-webkit-scrollbar {
    width: 10px; /* Kích thước của thanh scrollbar */
}

.map-list::-webkit-scrollbar-thumb {
    background-color: var(--color-hover); /* Màu của thanh scrollbar */
}

//
.footer {
    margin-top: 50px;
}
.box-image-map {
    height: 100%;

    .image-home {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center top;
        margin-bottom: 30px;
        cursor: pointer;
        transition: transform 0.25s linear;
    }
    & .title-adress {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        width: 100%;
        height: 100%;
        padding: 2rem 1rem 1.35rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;
        align-items: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(255, 255, 255, 0) 100%);
        color: #ffff;
        transform: translateY(100%);
        transition: transform 0.25s linear;
        & span {
            font-size: 1.8rem;
        }
    }
}

.box-image-map:hover .title-adress {
    transform: translateY(-9%);
}

.end {
    padding: 40px 60px;
    border-radius: 10px;
    background-color: #f6f6f6;
    & h3 {
        font-weight: 400;
    }
}

@media (max-width: 995px) {
    .map-select {
        & .select-district {
            margin-top: 10px;
            margin-left: 0;
        }
    }
}
