.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    width: 3984px !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashsale-proitem-group {
    height: 100%;
    padding: 0.35rem 0.375rem;
}

h4 {
    height: 10rem;
    background: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}

.swiper-content {
    background-color: var(--color-hover);
}

.swiper-class {
    margin-right: 11px;
    margin-bottom: 11px;
}
