.wrapper {
    padding-top: 20px;
}

.one {
    padding-right: 30px !important;
}
.item-box {
    display: flex;
}
.item {
    border: 1px solid #ccc;
    padding: 7px 10px 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.box {
    display: flex;
}

.icon-truck {
    padding-top: 3px;
    font-size: 2.6rem;
    color: var(--color-hover);
}
.name {
    padding-left: 6px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    & p {
        padding: 0;
        margin: 0;
    }
}

// PHONE
.box-phone-test {
}
.item-phone {
    border: 1px solid #ccc;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0 !important;
    max-width: 100%;
    cursor: pointer;
}
.box-phone {
    line-height: 13px;
}
.name-phone {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    &:hover {
        color: var(--color-hover);
    }
}
.info-phone {
    display: flex;
    padding-top: 5px;
    & .icon-phone {
        font-size: 1.5rem;
        color: var(--color-hover);
    }
    & p {
        margin-left: 5px !important;
        font-size: 1.1rem;
        color: var(--color-hover);
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .cus-row-cols-xl-3 {
        flex: 0 0 auto !important;
        width: 30.333333% !important;
    }
}

// ROW 2

.box-2-title {
    font-size: 1.8rem;
}
.box-2-list {
    margin-bottom: 20px !important;
    padding-left: 0 !important;
}

.box-2-item {
    font-size: 1.4rem;
    margin-top: 7px;
    & a {
    }
}
.box-2-name-b {
    font-weight: 300;
}
.box-2-name {
    font-weight: 300;
}
.box-2-link {
    color: var(--bs-blue);
}
//
.box-2-nav-tilte {
}
.box-2-nav-list {
    padding-left: 0 !important;

    & li {
        padding-top: 5px;
        font-weight: 300;
        color: inherit;
        & a {
            font-size: 1.4rem;
            padding-left: 5px;
        }
    }
}

//
.icon-box-list {
    display: flex;
    align-items: center;
    padding: 0;
}
.zalo {
    max-width: 32px;
    max-height: 32px;
}
.icon-box-item {
    margin-right: 15px;
    & a {
        max-width: 32px;
        max-height: 32px;
    }
    & .icon {
        font-size: 37px;
        vertical-align: middle;
        font-weight: 400;
        color: aqua;
    }
}
.img-gov {
    display: flex;
    justify-content: center;
}

// FOOTER-END
.footer-content {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    & span {
        color: var(--color-hover);
        text-decoration: underline;
        & a {
            font-weight: 600;
        }
    }
}
@media (max-width: 991px) {
    .wrapper {
        display: none;
    }
}
