.modal-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.65);
}

.icon-loading {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 44%;
    z-index: 10;
}

.title-loading {
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    color: var(--color-hover);
    font-weight: 600;
}
.content {
    padding: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
