.content {
    flex: 1;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

@media (min-width: 740px) and (max-width: 1070px) {
    .container {
        padding-top: 0px;
    }
}
@media (min-width: 531px) and (max-width: 739px) {
    .container {
        padding-top: 50px;
    }
}

@media (max-width: 530px) {
    .container {
        margin-top: -50px;
    }
}

@media (min-width: 740px) and (max-width: 991px) {
    .content {
        padding-bottom: 90px;
        padding-top: 90px;
    }
}

@media (min-width: 991px) {
    .content {
        padding-bottom: 90px;
        padding-top: 90px;
    }
}
