.wrapper {
    padding-bottom: 20px;
    max-width: 720px;
    margin: 2.5rem auto 37px;
}

.content {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
}
.cart-info-list {
    padding: 0;
}
.cart-info-item {
    border: 1px solid var(--bs-border-color);
    border-radius: 7px;
    font-size: 1.5rem;
    padding: 16px 24px;
    margin-top: 16px;
}

.title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-hover);
    width: 235px;
    height: 32px;
    border-radius: 5px;
    & img {
        width: 20px;
        height: 20px;
    }
    & h3 {
        margin-top: 5px;
        color: #fff;
        font-size: 1.6rem;
        margin-left: 7px;
    }
}

.description-item {
    margin: 10px 0;
    & .icon-description {
    }
    & span {
        margin-left: 10px;
    }
}

.endow-item {
    font-size: 1.1rem;
    background-color: #cff4fc;
    border-radius: 7px;
    padding: 8px 12px;
    margin-bottom: 8px;
    & p {
        margin-bottom: 3px;
    }
}

.total {
    margin-top: 20px;
}

// PAYMENTS
.payments-title {
    font-weight: 400;
    margin-left: 2px;
}
.payments-list {
    padding: 0;
}

.payments-item {
    position: relative;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 13px;
    cursor: pointer;
    & img {
        position: absolute;
        width: 23px;
        top: 10px;
        left: 15px;
    }
    & span {
        display: block;
        width: 100%;
        padding: 11px 12px 11px 50px;
        border-radius: 7px;
        background-color: #f4f4f4;
        border-radius: 32px;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &:focus {
        background-color: red;
    }
    &:hover span {
        color: var(--color-hover);
    }
    &:hover .form-checkbox {
        border-color: var(--color-hover);
    }
    &:hover .form-checkbox:checked {
        border-color: #0d6efd;
    }
}

.form-checkbox {
    position: absolute;
    right: 1.5rem;
    top: 11px;
    order: 2;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    &:checked {
        background-color: var(--color-hover) !important;
    }
}
.form-check {
    cursor: pointer;
    height: auto;
    display: flex;
}

.form-checkbox:checked ~ span {
    background-color: rgb(221, 221, 221);
}
// BUTTON
.btn-order {
    margin-top: 15px;
    background-color: var(--color-hover);
    padding: 5px 0px;
    border-radius: 10px;

    & button {
        width: 100%;
        height: 100%;
        padding: 5px 0;
        padding-right: 10px;
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
    }
    &:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
        text-decoration: none;
    }
}
