// CART NAV-STEP
.cart-navstep {
    display: flex;
}

.cart-navstep-item {
    text-align: center;
    position: relative;
    color: #ff75a6;
    &::after {
        position: absolute;
        left: calc(50% + 35px);
        top: 18px;
        z-index: 1;
        content: '';
        display: block;
        width: calc(100% - 70px);
        height: 1px;
        border-top: 3px dashed #ff75a6;
    }
    &:last-child::after {
        border-top: none; /* Hoặc border-top: transparent; */
    }
}

.cart-navstep-item.active {
    color: var(--color-hover);
    &::after {
        border-color: var(--color-hover);
    }
}

.icon-cart-1 {
    font-size: 4.6rem;
    padding-bottom: 10px;
}

.icon-cart-4 {
    font-size: 3.9rem;
    padding-bottom: 10px;
}

.cart-navstep-description {
    padding: 0 35px;
    & .btn-check {
        font-size: 2rem;
    }
    & p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 17px;
        display: inline-block; /* Hoặc display: block; */
        width: 100%; /* Đặt width theo ý muốn */
    }
}

.cart-nav-step-title {
    padding-top: 10px;
}
// CART IS A CENTER
.cart {
    margin: 1.5rem auto 35px;
    max-width: 720px;
}
// TITLE
.cart-title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 5px;
}
// DISPLAY-FLEX
.display-header {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0.175rem 0.6rem rgba(var(--bs-body-color-rgb), 0.5);
    border-radius: 0.75rem;
    padding: 0.75rem;
    font-size: 13px;
    line-height: 22px;
}

//

// IMG
.product-img {
    width: 88px;
    height: 88px;
}
//
// NAME
.product-body-header {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.product-name {
    & p {
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.icon-trash {
    padding: 0px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding-bottom: 0px !important;
    border: 1px solid var(--bs-border-color);
    background-color: #dfdfdf99;
    text-align: center;
    cursor: pointer;
    & a {
    }
    &:hover {
    }
}
//
// INPUT-COLOR
.product-body-body {
    width: 180px;
    font-size: 12px;
    line-height: 15px;
    padding: 3.2px 10px 3.2px 10px;
    min-height: 0;
    border: 1px solid var(--color-hover);
    border-radius: 32px !important;
    option {
        padding: 10px;
    }
}
//
// FOOTER
.cart-product-footer {
    display: flex;
    justify-content: space-between;
}

// PRICE
.product-price {
    display: flex;
    margin-top: 25px;
}

.price-discount {
    font-size: 1.6rem;
    color: var(--color-hover);
    font-weight: 500;
}

.price-real {
    padding-left: 5px;
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 400;
}

// BTN-INPUT
.product-quantity {
    display: flex;
}

.btn-minus {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 40px;
    font-size: 1.6rem;
    height: 40px;
}

.input-number {
    background-color: #efefef;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    width: 46px;
    height: 40px;
    padding-left: 10px;
}

.btn-increase {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
// CART TOTAL

.cart-total {
    padding: 0 8px;
    margin: 22px 0;
    display: flex;
    justify-content: space-between;
    & p {
        font-size: 1.6rem;
        font-weight: 300;
    }
    & .price-total {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--color-hover);
    }
}

// NO-PRODUCT
.cart-not-product {
    border-radius: 7px;
    border: 2px solid var(--color-hover);
}

.cart-no-product-title {
    padding: 10px 16px;
    border-bottom: 1px solid #dddddddb;
    color: var(--color-hover);
}

.cart-body {
    padding: 16px 16px;
}

.cart-description {
    background-color: var(--bs-warning-bg-subtle);
    border-radius: 7px;
    border: 1px solid var(--bs-alert-border-color);
    padding: 10px 18px;
    & p {
        padding-top: 10px;
        font-size: 1.6rem;
    }
}

.btn-no-product {
    margin-top: 20px;
    display: flex;
    padding: 0px 28px;
    text-align: center;
    align-items: center;
    background-color: var(--color-hover);
    border-radius: 15px;
    & .icon-home {
        color: #fff;
        font-size: 1.6rem;
    }
    & p {
        padding-top: 10px;
        font-size: 1.4rem;
        color: #fff;
        font-weight: 700;
        padding-left: 10px;
    }
}

// COUNPONDS

.cart-coupons {
    margin-top: 20px;
    padding: 0 5px;
    & input {
        position: relative;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px 16px;
        font-size: 1.4rem;
        font-weight: 400;
    }
    & .btn-coupons {
        background-color: #fff;
        font-size: 2.5rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 20px;
        padding-top: 5px;
        & .icon-tag {
            color: #8d8d8d;
            &:hover {
                color: var(--color-hover);
            }
        }
    }
}

.counpons-fails {
    margin-top: -5px;
    font-size: 1.2rem;
    color: var(--color-hover);
    padding: 10px 16px;
    background-color: #ffffffa5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-order {
    background-color: var(--color-hover);
    padding: 5px 0px;
    border-radius: 10px;
    & button {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        padding-right: 10px;
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
    }

    &:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 735px) {
    .product-name {
        padding-right: 5px;
        p {
            font-size: 1.3rem;
        }
    }
    .product-quantity {
        margin-top: 20px;
        & .btn-minus {
            width: 40px;
            height: 30px;
        }
        .input-number {
            width: 40px;
            height: 30px;
        }

        .btn-increase {
            width: 40px;
            height: 30px;
        }
    }
    .price-discount {
        font-size: 1.5rem;
    }
    .price-real {
        font-size: 1.3rem;
    }
    .product-body-body {
        width: 100%;
    }
    // IMAGE
    .product-img {
        margin-top: 7px;
        width: 62px;
        height: 62px;
    }
    .display-header {
        margin: 0 0 1.25rem;
        padding: 1.3rem;
    }
    .display-body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 435px) {
    .price-real {
        display: none;
    }
}

@media (max-width: 330px) {
    .cart-product-footer {
        display: block !important;
    }
    .product-quantity {
        margin-top: 0;
        margin-left: 60px;
    }
}

@media (max-width: 275px) {
    .product-quantity {
        margin-left: 0;
    }
}
