.wrapper {
    padding: 55px 5px 0px 5px;
}

.filter-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    width: 130px;
    height: 37px;
    padding: 5px 7px 5px 10px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    cursor: pointer;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    & p {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 10px;
    }
    &:hover {
        background-color: var(--color-hover);
        color: #fff;
    }
}

.filter-list {
    margin-top: 10px;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 0 !important;
    width: 158px;
    cursor: pointer;
    z-index: 10;
}

.filter-item {
    width: 100%;
    padding: 8px 5px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    & a {
        display: flex;
        align-items: center;
    }
    & p {
        padding-left: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0 !important;
    }
    &:hover {
        color: var(--color-hover);
    }
}

@media (max-width: 765px) {
    .wrapper-filter:last-child {
        .filter-list:last-child {
            top: 30px;
            left: -50px;
        }
    }
    .form-filter {
        background-color: var(--color-hover);
        color: #fff;
        width: 110px;
        & p {
            font-size: 1rem;
        }
    }

    .filter-flex {
        padding-right: 5px;
    }
    .wrapper-filter {
        margin-left: 10px;
    }
    .title {
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--color-hover);
    }
}
