.content {
    margin-top: 30px;
}

.proitem {
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.image-theme {
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
}

.button-see-all {
    width: 207px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid var(--color-hover);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    & a {
        width: 100%;
        height: auto;
    }
    & button {
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: var(--color-hover);
        font-weight: 600;
        text-align: center;
        font-size: 1.3rem;
        box-shadow: 0 0.25rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        & span {
            margin-left: 3px;
        }
        &:hover {
            color: #fff;
            background-color: #d70018;
            border-color: #d70018;
        }
    }
}

@media (max-width: 995px) {
    .button-see-all {
        width: 169px;
        height: 34px;
        & button {
            padding: 2px 3px;
            font-size: 1.05rem;
            & span {
                margin-left: 5px;
                margin-top: 5px;
                text-align: center;
                .icon-next {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}

.wrapper-product-box-card {
    align-items: flex-start !important;
    justify-content: center !important;
}

// SWIPER MODEL
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    width: 3984px !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashsale-proitem-group {
    height: 100%;
    padding: 0.35rem 0.375rem;
}

h4 {
    height: 10rem;
    background: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}

// CONTAINER-SWIPER

.swiper-container {
    padding: 0 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.swiper-class {
    margin-right: 11px;
    margin-bottom: 11px;
}

@media (min-width: 765px) and (max-width: 995px) {
    .swiper-class {
        margin-right: 9px;
        margin-bottom: 9px;
    }
}

@media (max-width: 765px) {
    .swiper-class {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .swiper-container {
        padding: 0 5px;
    }
}

// MEDIA LIST PRODUCT BOX

@media screen and (min-width: 767px) and (max-width: 995px) {
}
@media screen and (max-width: 995px) {
    .wrapper-product-box-card {
        padding-top: 10px !important;
    }
}
@media screen and (max-width: 767px) {
    .wrapper-product-box-card {
        padding-top: 20px !important;
    }
    .swiper-container {
        padding-top: 8px;
    }
}
