.wrapper {
    width: 320px;
    padding: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    margin-top: 12px;
}

.nickname {
}

.nickname-strong {
    font-size: 1.7rem;
    font-weight: 600;
}

.icon-check {
    padding-left: 5px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 23px;
}

.footer {
    margin-top: 8px;
}
.strong-footer {
    font-weight: 600;
}

.lable {
    margin-right: 12px;
    color: #666;
}

.button-fix {
    width: 100px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: rgba(254, 44, 85, 0.7);
    }
}

.button-following {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}
