.wrapper-left {
    padding: 12px;
}
.search {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    position: relative;

    input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 50px;
        outline: none;
        margin-top: 20px;
    }

    .icon-search {
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 2rem;
        cursor: pointer;
        color: #1890ff; /* Màu sắc của biểu tượng, có thể thay đổi theo ý muốn */
    }
}

.customer {
    .customer-list {
        height: 650px;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 20px;
        padding: 0;
    }
    .customer-item {
        display: flex;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 50px;
        padding: 12px 12px 9px 12px;
        cursor: pointer;
        .info {
            max-width: 100%;
            padding-left: 15px;
            padding-right: 80px;
            .info-container {
                display: flex;
                justify-content: space-between;
                .name {
                }
                .time {
                    color: rgba(0, 0, 0, 0.45);
                }
            }
            .chat-content {
                overflow: hidden;
                & p {
                    color: rgba(0, 0, 0, 0.45);
                    font-size: 1.6rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: 0;
                }
            }
        }
    }
}

.customer {
    max-width: 100%;
}

.image-customer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

// RIGHT
.wrapper-right {
    padding: 12px;
    border-left: #ddd 3px solid;
}

// HEADER-SECTION-MESSAGE
.header-section-messsage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 12px 20px;
    .header-section-messsage-container {
        display: flex;
        .info {
            padding-left: 20px;
            padding-top: 10px;
            .name {
            }
            .username {
            }
        }
    }
    .icon {
        color: #999;
        font-size: 2rem;
        margin: 0 5px;
    }
}

// CHAT MESSAGE
.wrapper-image {
    display: flex;
    align-items: end;
}

.body-section-messsage {
    height: 620px;
    overflow: hidden;
    overflow-y: auto;
    padding: 12px;
    .message-list {
        .message-customer-item {
            display: flex;
            margin-bottom: 20px;
            .content-customer {
                padding-left: 20px;
                .message {
                    width: 300px;
                    padding: 14px 45px 5px 14px;
                    border-radius: 5px 5px 5px 12px;
                    background-color: #fff;
                    .time {
                        margin-top: 5px;
                        color: #ccc;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .message-admin-item {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;

            .content-admin {
                padding-right: 20px;
                .message {
                    width: 300px;
                    padding: 14px 45px 5px 14px;
                    border-radius: 5px 5px 5px 12px;
                    background-color: #0084ff;
                    .time {
                        margin-top: 5px;
                        color: #ccc;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

.footer-section-messsage {
    .input-message {
        position: relative;
        input {
            width: 100%;
            font-size: 1.6rem;
            padding: 30px;
            border-radius: 50px;
        }
    }
    .wrapper-icon {
        .icon-send {
            position: absolute;
            top: 20px;
            right: 50px;
            padding: 16px;
            border-radius: 50%;
            background-color: #0084ff;
            cursor: pointer;
            color: #fff;
            font-size: 1.6rem;
        }
    }
}

.wrappper-customer-item {
    position: relative;
    .icon-trash {
        position: absolute;
        top: 28px;
        right: 40px;
    }
}
