// Header-nav
.header__nav__container {
    display: block;
    background: #d70018;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    max-height: 43px;
}

.header-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    display: inline-flex;
    max-width: 100%;
    width: auto;
}

.header-item {
    position: relative;
    height: 100%;
    .header-link {
        margin: 0 5px;
        width: 100%;
        height: 43px;
        padding: 0 10px 10px 10px;
        color: #666;
        display: flex;
        justify-content: center;
        &::after {
            position: relative;
            top: 18px;
            left: 10px;
            display: block;
            content: '';
            border-bottom: solid 1px #fff;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            animation: transition 0.2s ease;
        }
        &:hover:after {
            transform: scaleX(1);
        }
    }

    &:hover .header-navsub {
        display: block;
        opacity: 1;
    }
}

.header-img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    object-position: center;
    margin-right: 3px;
    transform: translateY(15px);
}

.header-name {
    position: relative;
    height: 22px;
    left: 0;
    margin-left: 0px;
    transform: translateY(15px);
    color: #fff;
    font-weight: 600;
}

// Header-navsub
.header-navsub {
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1550;
    width: 245px;
    text-align: left;
    padding: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background: rgba(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 28px 0px;
    font-weight: normal;
    color: #000;
    font-size: 11px;
    line-height: 20px;
    transition: all 0.3s ease-out;
}

.header-navsub-list {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    list-style-type: none;
}

.header-navsub-item {
    &:hover .menu-mutilevel {
        display: block;
        opacity: 1;
    }
    &:hover .menu-mutilevel-list {
        display: block;
    }
}

.header-navsub-link {
    border: none;
    display: block;
    padding: 8px 7px 6px 16px !important;
    margin: 0 0 !important;
    color: #000;
    font-family: var(--ftitle);
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
    line-height: 21px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

// menu-MutiLevel(menu đa cấp)

.menu-mutilevel {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1550;
    width: 245px;
    min-height: 195px;
    text-align: left;
    padding: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    background: rgba(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 28px 0px;
    font-weight: normal;
    color: #000;
    font-size: 11px;
    line-height: 20px;
    animation: expandWidth 0.4s ease-in;
    white-space: nowrap;
    overflow: hidden;
}

.menu-mutilevel-list {
    position: relative;
    margin: 0;
    padding: 8px 0px 10px 0;
    list-style-type: none;
    display: none;
}

.menu-mutilevel-link {
}

.menu-mutilevel-item {
    font-size: 1.4rem;
    border: none;
    padding: 8px 7px 6px 16px !important;
    margin: 0 0 !important;
    color: #000;
    font-family: var(--ftitle);
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
    line-height: 21px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.menu-mutilevel-icon {
    font-size: 7px;
    position: relative;
    top: -2px;
    left: 0;
    padding: 0 8px 0 0;
}

@keyframes expandWidth {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* > PC  */
@media (min-width: 991px) and (max-width: 1200px) {
    .header-img {
        display: none;
    }
    .header-item {
        position: relative;
    }

    .header-item::after {
        content: '';
        position: absolute;
        top: 40%;
        right: -4px;
        width: 1px;
        height: 15px;
        background-color: #fff;
    }
}
/* Tablet  */
@media (min-width: 740px) and (max-width: 991px) {
    .header__nav__container {
        display: none;
    }
}

/* >= Moblie */
@media (max-width: 740px) {
    .header-nav {
        display: none;
    }
    .header__nav__container {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1260px) {
    .header-nav-container {
        padding: 0 20px;
    }
    .header-item {
        .header-link {
            padding: 0 5px;
        }
    }
}
@media (min-width: 1120px) and (max-width: 1200px) {
    .header-item {
        .header-link {
            padding: 0 14px;
        }
    }
}

@media (max-width: 1120px) {
    .header-item {
        .header-link {
            padding: 0 9px;
        }
    }
}
